*:focus {
  outline:none;
}

body,html {
  padding:0;
  margin:0;
  background-color:white;
  font-family:p22,sans-serif;
}

.content {
  /* width:50%; */
  /* padding-left:25%; */
  text-align:center;
  font-family:p22,sans-serif;
  /* margin-top:15%; */
  color:red;
  display: table-cell;
  vertical-align: middle;
}

.content h1 {
  font-size: 6em;
  margin: 0.67em 0;
  margin-block-start:0;
  margin-block-end:0;
}

.stache {
  width:100%;
  max-width:500px;
}

.vc-cont {
  display: table;
  height: 93vh;
  width: 100%;
  text-align: center;
}

.topnav {
  height: 6vh;
  width: 100%;
  /* display: table; */
  border-bottom: 2px solid lightgrey;
  text-align:right;
}

.btn-content {
  display:table;
  height:100%
}

.btn-parent {
  display:inline-block;
  height:100%;
  margin:0 2%;
}

.topnav a {
  display:table-cell;
  vertical-align:middle;
  color:grey;
  text-decoration:none;
  transition:.3s;
  text-align:center;
}

.topnav a:active,.topnav a:hover {
  color:red;
}

.topnav .topnav-stache {
  /* display:none; */
  /* max-height:15px; */
  margin-left:auto;
  margin-right:auto;
  height:0px;
  transition:.3s;
  display:block;
}

.topnav a:hover .topnav-stache {
  /* display:inline-block; */
  height:15px;
}

.testamonial-stache {
  max-height:20px;
}

.video {
  width:60%;
  margin-left: auto;
  margin-right: auto;
  border:2px solid lightgrey;
  border-radius:15px;
  padding:3%;
  overflow:auto;
  margin-bottom:5%;
}

.video video,.video img {
  width:100%;
  /* width:40%;
  float:left; */
}

.video td:nth-child(1) {
  width:40%;
}

.video td:nth-child(2) {
  width:60%;
  text-align:left;
  padding-left:5%;
}

.video .text span {
  display:table-cell;
  vertical-align: middle;
}

.cite {
  float:right;
  color:grey;
}

@font-face {
  font-family:p22;
  src:url(p22.otf);
}

@media only screen and (max-width:580px)  {
  h1 {
    font-size: 4em!important;
  }
  .stache {
    width:80%;
    max-width:400px;
  }
}

@media only screen and (max-width:460px)  {
  .testamonials {
    display:none;
  }
}

@media only screen and (max-width:315px)  {
  .latest-video {
    display:none;
  }
}
